<div style="text-align:center">

    <img class="img-fluid" style="height:250px;width:100%" src="~/imgfile/@ViewBag.emp.imgpath" alt="" />
    <h1>Name :@ViewBag.emp.name</h1>
    <h1>Salary :@ViewBag.emp.salary</h1>
    <h1>Age :@ViewBag.emp.age</h1>
    <h2>Emali :@ViewBag.emp.emali</h2>
    <h1>Department :@ViewBag.emp.department.deptname</h1>
    <h1> <a href="~/imgfile/@ViewBag.emp.cvpath" class="badge badge-light">download C.V</a></h1>
</div>